@import "nib";
global-reset();

@import "github";

@font-face {
  font-family: 'Droid Sans Mono';
  src: url('../fonts/DroidSansMono-webfont.eot');
  src: url('../fonts/DroidSansMono-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/DroidSansMono-webfont.woff') format('woff'), url('../fonts/DroidSansMono-webfont.ttf') format('truetype'), url('../fonts/DroidSansMono-webfont.svg#DroidSansMonoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cubano';
  src: url('../fonts/cubano-regular-webfont.eot');
  src: url('../fonts/cubano-regular-webfont.woff') format('woff'), url('../fonts/cubano-regular-webfont.ttf') format('truetype'), url('../fonts/cubano-regular-webfont.svg#CubanoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  font-family: "Minion Pro", Times, "Times New Roman", serif;
  font-size: 18px;
}

h1, h2, h3, h4, header, nav, #loader {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

code, pre {
  font-family: "Droid Sans Mono", Monaco, monospace;
  font-size: 14px;
}

// Layout

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 222px;
  background: rgba(black, 0.05);
  z-index: 2;
  #logo {
    color: #333;
    font-family: "Cubano";
    font-size: 24px;
    padding: 0 30px;
    line-height: 50px;
    text-decoration: none;
  }
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 162px;
  padding: 0 30px;
  height: 100%;
  background: rgba(black, 0.05);
  border-right: 1px solid rgba(black, 0.2);
  box-shadow: rgba(black, 0.1) -1px 0 3px 0 inset;
  text-shadow: rgba(white, 0.7) 0 1px 0;
  a {
    display: block;
    font-weight: bold;
    text-decoration: none;
  }
  #sections {
    margin-top: 65px;
    margin-bottom: 15px;
    > li {
      padding: 10px 0;
      > a {
        padding: 5px 0;        
        color: #555;
        font-size: 14px;
      }
    }
    ul li {
      a {
        padding: 4px 0;
        font-size: 13px;
      }
    }
  }
  .extra {
    margin-bottom: 15px;
    a {
      color: #555;
      font-size: 14px;
    }
  }
  #travis {
    img {margin-top: 10px; display: block;}
  }
}

#content {
  //padding: 30px;
  margin: 30px 30px 30px 252px;
  position: relative;
  min-height: 100px;
  max-width: 696px;
  #loader {
    color: #888;
    width: 300px;
    height: 24px;
    line-height: 24px;
    position: absolute;
    top: 30px;
    left: 30px;
    background: url(../images/pacman.gif) no-repeat center left;
    padding-left: 32px;
    font-size: 18px;
  }
}

#refresh {
  z-index: 3;
  position: fixed;
  display: block;
  top: 0;
  left: 50%;
  width: 320px;
  margin-left: -160px;
  font-family: "Helvetica Neue", "Helvetica", arial, sans-serif;
  line-height: 1.4em;
  padding: 10px;
  color: #fff;
  text-shadow: rgba(black, 0.3) 0 1px 1px;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-align: center;
  background: #666;
  border-radius: bottom 5px;
}

p, pre, blockquote, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 25px;
}

p {
  line-height: 1.3em;
}

pre {
  line-height: 1.2em;
}

h2, h3, h4, h5, h6 {
  margin-top: 45px;
  color: #666;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}